

:root {
    --font-size: 16px;
    --background: #ffffff;
    --foreground: oklch(0.145 0 0);
    --card: #ffffff;
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: #030213;
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.95 0.0058 264.53);
    --secondary-foreground: #030213;
    --muted: #ececf0;
    --muted-foreground: #717182;
    --accent: #e9ebef;
    --accent-foreground: #030213;
    --destructive: #d4183d;
    --destructive-foreground: #ffffff;
    --border: rgba(0, 0, 0, 0.1);
    --input: transparent;
    --input-background: #f3f3f5;
    --switch-background: #cbced4;
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: #030213;
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}



.bg-art-800{
    
}

.bg-art-50{
    
}

.title-1{
    font-weight: 700;
    font-size:40px;
}

.clickable-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: var(--background);
    align-items: center;
    min-height: 80px;
    border-radius: 16px;
    box-shadow: 5px 7px 18px 2px rgba(0,0,0,0.42);
    padding: 1.5rem;
    overflow: hidden;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.clickable-card .circle{
    position: absolute;
    
    width: 140px;
    height: 140px;
    
    top: -60px;
    right: -60px;
    
    border-radius: 50%;
    
    background: linear-gradient(
    135deg,
    #9cf0ff,
    #d9e66f
    );
    transition: transform 0.3s ease;
}

.clickable-card:hover{
    border: solid 3px magenta;
    transform: translateY(-8px);
}
.clickable-card:hover .circle{
    transform: scale(1.5);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}
.clickable-card:not(.active):hover{
    background:linear-gradient(55deg,rgba(255, 255, 255, 1) 0%, rgba(247, 255, 250, 1) 32%, rgba(251, 255, 247, 1) 73%, rgba(255, 255, 245, 1) 100%);
}

.clickable-card.active:hover{
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(247, 255, 250, 1) 50%, rgba(255, 255, 245, 1) 100%);
}

.clickable-card{
   
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(247, 255, 250, 1) 50%, rgba(255, 255, 245, 1) 100%);
    
}
.clickable-card.active{
    border: solid 3px magenta;
    background:linear-gradient(55deg,rgba(255, 255, 255, 1) 0%, rgba(247, 255, 250, 1) 32%, rgba(251, 255, 247, 1) 73%, rgba(255, 255, 245, 1) 100%);
}



.hidden {
    display: none;
}

.andy-ai-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clickable-card:before{
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 60px;
    height: 60px;
    border-radius: 9999px;
    
}